MONGO_HOST=vulndesk-mongo
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_PORT=27017
START_COMMAND=node init-vulndesk.js && node app.js
VULNDESK_ADMIN_CNA_EMAIL=security@example.com
VULNDESK_ADMIN_EMAIL=user@example.com
VULNDESK_ADMIN_NAME=Example User
VULNDESK_ADMIN_PASSWORD=vulndesk
VULNDESK_ADMIN_USERNAME=vulndesk
VULNDESK_HOST=0.0.0.0
VULNDESK_PORT=3555
